{
	"extends": [
		"react-app",
		"prettier",
		"prettier/@typescript-eslint",
		"prettier/react"
	],
	"plugins": ["prettier", "simple-import-sort"],
	"rules": {
		"prettier/prettier": "warn",
		"sort-imports": "off",
		"simple-import-sort/sort": "warn"
	},
	"overrides": [
		{
			"files": ["*.tsx", "*.jsx"],
			"rules": {
				"simple-import-sort/sort": [
					"warn",
					{
						"groups": [["^react", "^@?\\w"]]
					}
				]
			}
		}
	],
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"],
				"paths": ["src"]
			}
		}
	}
}
